---
layout: layout/html.liquid
---
<nav class="navbar">
    <ul class="navbarContent">
      <li><a href="/index.html"><strong>sydney andrus</strong></a></li>
      {% for page in collections.pages %}
      <li><a href="{{ page.url }}">{{ page.data.pageTitle }}</a></li>
      {% endfor %}
    </ul>
</nav>
<main id="main-content" tabindex="-1">{{ content }}</main>
<footer>
    <p>Blog created and curated by Sydney Andrus.</p>
    <a href="mailto:sydney.andrus.or@gmail.com">sydney.andrus.or@gmail.com</a>
</footer>