---
layout: "base"
---

<h1> {{ episodeTitle | default: "Episode Title"}} </h1>
<p> Season {{ season | default: 0}}, Episode {{ episodeNumber |  default: 0}} </p>
<p>
{% case rating%}
  {% when 1 %}
    ★☆☆☆
  {% when 2 %}
    ★★☆☆
  {% when 3 %}
    ★★★☆
  {% when 4 %}
    ★★★★
{% endcase %}
</p>
{{ content }}