---
layout: "html"
pageTitle: Welcome to my blog
stylesheet: /css/homepage.css
---

<main>
  <p class="invitation">step inside</p>
  <div class="map">
    {% for page in collections.pages %}
    <a href="{{ page.url }}">{{ page.data.pageTitle }}</a>
    {% endfor %}
  </div>
</main>
